<footer>
    <div id="footer-opened-div" class="footer row">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="region region-footer-left" style="padding-left: 5vw">
                    <section id="block-block-11" class="block block-block clearfix">
                        <h2 class="block-title">Contact Us</h2>
                        <p class="address">
                            Altron House
                            <br> 4 Sherborne Road
                            <br> Parktown 2193
                            <br> Gauteng
                            <br> South Africa
                        </p>
                        <p class="tel">
                            +27 11 645 3600
                        </p>
                        <p class="mail">
                            <a href="mailto:info@altron.com">info@altron.com</a>
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="region region-footer-middle" style="padding-left: 5vw">
                    <section id="block-block-10" class="block block-block clearfix">
                        <h2 class="block-title">Links</h2>
                        <p>
                            <a href="{{ altronHome }}/contact/altron-careers-desk">Careers Desk</a>
                            <br>
                            <a href="{{ altronHome }}/executive-leadership">Leadership</a>
                            <br>
                            <a href="{{ altronHome }}/media/news">Altron News</a>
                            <br>
                            <a href="{{ altronHome }}/sitemap">Sitemap</a>
                            <br>
                            <a href="{{ altronHome }}/access-information">Access to Information</a>
                            <br>
                            <a href="{{ altronHome }}/email-and-website-terms-and-conditions-use">Terms Of Use</a>
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="region region-footer-content-middle-right" style="padding-left: 5vw">
                    <section id="block-block-9" class="block block-block clearfix">
                        <h2 class="block-title">About Us</h2>
                        <p>
                            <a href="{{ altronHome }}/who-we-are/altron-glance">Altron at a glance</a>
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" id="footer-social-media">
                <div class="region region-footer-right" style="padding-left: 5vw">
                    <section id="block-block-8" class="block block-block clearfix">
                        <h2 class="block-title">Connect with us</h2>
                        <p>
                            <a class="facebook" href="https://www.facebook.com/AltronGroup">fa</a>
                            <a class="twitter" href="https://twitter.com/altrongroup">tw</a>
                            <a class="linkedin" href="https://za.linkedin.com/company/altron">lin</a>
                            <a class="youtube" href="https://www.youtube.com/channel/UC-tguVl4XiqbYoA6ppz3oew?view_as=subscriber"
                                target="_blank">you</a>
                        </p>
                        <p>&nbsp;</p>
                    </section>
                </div>
            </div>
    </div>
</footer>
