<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-8 panel bs-no-padding color-home-1" style="padding-left: 20px">
            <h1>Create or edit a Company</h1>
        </div>
        <div class="col-lg-3 panel bs-no-padding color-home-2"></div>
        <div class="col-lg-1 panel bs-no-padding color-home-3"></div>
    </div>

    <div class="panel">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!company.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="company.id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_companyName">Company Name</label>
                            <input type="text" class="form-control" name="companyName" id="field_companyName"
                                [(ngModel)]="company.companyName" required/>
                            <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.companyName?.errors?.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_description">Description</label>
                            <input type="text" class="form-control" name="description" id="field_description"
                                [(ngModel)]="company.description" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_headName">Head Name</label>
                            <input type="text" class="form-control" name="headName" id="field_headName"
                                [(ngModel)]="company.headName" required/>
                            <div [hidden]="!(editForm.controls.headName?.dirty && editForm.controls.headName?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.headName?.errors?.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_headEmail">Head Email</label>
                            <input type="text" class="form-control" name="headEmail" id="field_headEmail"
                                [(ngModel)]="company.headEmail" required/>
                            <div [hidden]="!(editForm.controls.headEmail?.dirty && editForm.controls.headEmail?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.headEmail?.errors?.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_headNumber">Head Number</label>
                            <input type="text" class="form-control" name="headNumber" id="field_headNumber"
                                [(ngModel)]="company.headNumber" required minlength="12" maxlength="12"/>
                            <div [hidden]="!(editForm.controls.headNumber?.dirty && editForm.controls.headNumber?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.headNumber?.errors?.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.headNumber?.errors?.minlength">
                                This field is required to be at least 12 characters.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.headNumber?.errors?.maxlength">
                                This field cannot be longer than 12 characters.
                                </small>
                            </div>
                        </div>
                    <br>
                    <div class ="float-right">
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-1"></div>
            
        </div>
    </div>
</div>
