<div>
    <h2 id="page-heading">
        <span>Attachments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attachments" [routerLink]="['/attachments/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Attachments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="attachments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Attachment</span></th>
            <th><span>Email</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attachments of attachments ;trackBy: trackId">
                <td><a [routerLink]="['/attachments', attachments.id, 'view' ]">{{attachments.id}}</a></td>
                <td>{{attachments.name}}</td>
                <td>
                    <a *ngIf="attachments.attachment" (click)="openFile(attachments.attachmentContentType, attachments.attachment)">open</a>
                    <span *ngIf="attachments.attachment">{{attachments.attachmentContentType}}, {{byteSize(attachments.attachment)}}</span>
                </td>
                <td>
                    <div *ngIf="attachments.email">
                        <a [routerLink]="['../email', attachments.email?.id, 'view' ]" >{{attachments.email?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/attachments', attachments.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/attachments', attachments.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachments/'+ attachments.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
